# Sección 5 - Data Wrangling

In [1]:
import pandas as pd

In [8]:
data = pd.read_csv("https://raw.githubusercontent.com/joanby/python-ml-course/master/datasets/customer-churn-model/Customer%20Churn%20Model.txt")

In [9]:
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

## Crear un subconjunto de datos

In [10]:
account_length = data["Account Length"]

In [11]:
account_length.head()

0    128
1    107
2    137
3     84
4     75
Name: Account Length, dtype: int64

In [12]:
type(account_length)

pandas.core.series.Series

In [13]:
subset = data[["Account Length", "Eve Charge", "Day Calls"]]

In [14]:
subset.head()

   Account Length  Eve Charge  Day Calls
0             128       16.78        110
1             107       16.62        123
2             137       10.30        114
3              84        5.26         71
4              75       12.61        113

In [15]:
type(subset)

pandas.core.frame.DataFrame

In [17]:
desired_columns = ["Account Length", "Eve Charge", "Phone", "Day Calls"]
subset = data[desired_columns]
subset.head()

   Account Length  Eve Charge     Phone  Day Calls
0             128       16.78  382-4657        110
1             107       16.62  371-7191        123
2             137       10.30  358-1921        114
3              84        5.26  375-9999         71
4              75       12.61  330-6626        113

In [18]:
complementary_list = [x for x in data.columns.tolist() if x not in desired_columns]

In [19]:
complementary_list

['State',
 'Area Code',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [20]:
subset_complement = data[complementary_list]

In [21]:
subset_complement.head()

,State,Area Code,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Charge,Eve Mins,Eve Calls,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,415,no,yes,25,265.1,45.07,197.4,99,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,415,no,yes,26,161.6,27.47,195.5,103,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,415,no,no,0,243.4,41.38,121.2,110,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,408,yes,no,0,299.4,50.90,61.9,88,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,415,yes,no,0,166.7,28.34,148.3,122,186.9,121,8.41,10.1,3,2.73,3,False.